<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <%= foods.name %> </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>
        <%= foods.name %>
        
    </h1>
    
      <form action="/users/<%= user._id %>/foods/pantry/<%= foods._id %>?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>

        <form action="/users/<%= user._id %>/foods/pantry/<%= foods._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= foods.name %>">
            <input type="hidden" name="_method" value="PUT">
            <button type="submit">update</button>
        </form>
     
      </form>
     
</body>
</html>