<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foods.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>
        <%= foods.name %>
      </h1>
      <p>
      </p>
      <a href="/users/<%= user._id %>/foods/pantry/<%= foods._id %>/edit">Edit</a>
      
</body>
</html>