<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>
        <%= pantry.name %>
      </h1>
      <a href="/users/<%= user._id %>/pantry/<%= pantry._id %>/edit">
        Edit Food
      </a>
      <form action="/users/<%= user._id %>/pantry/<%= pantry._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Food</button>
      </form>
</body>